@import '~normalize.css';
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&display=swap');


html {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  background-color: $palette-9;
}

:root {
  --default-bg-color: #{$palette-6};
  --default-border-color: #{$palette-5};
  --alternative-bg-color: #{$palette-5};
  --alternative-border-color: #{darken($palette-5, 15%)};
  --bg-color: var(--default-bg-color);
  --border-color: var(--default-border-color);
}

.content {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 2.3rem;
    padding: 20px;
    text-align: center;
    color: $palette-4;
    cursor: default;
  }
  &__loader {
    font-size: 2.1rem;
    color: $palette-1;
    text-align: center;
  }
  &__app {
    align-self: center;
    width: 80%;
    min-height: 170px;
    text-align: center;
    border: 8px solid var(--border-color);
    background: var(--bg-color);
    padding: 125px 0;
    border-radius: 10px;
  }
}
