$x-color-green: #87D534;
$x-color-blue: #009EE2;
$x-color-grey-1: #E5E5E5;
$x-color-black-1: #49494A;
$x-color-grey-2: #EDEDED;
$x-color-white: #FFFFFF;
$x-color-black-2: #000000;
$x-color-black-3: #545454;
$x-color-grey-3: #F6F6F6;
$x-color-grey-4: #EAEBEC;
$x-color-grey-5: #DDDDDD;


$palette-1: $x-color-green;
$palette-2: $x-color-blue;
$palette-3: $x-color-grey-1;
$palette-4: $x-color-black-1;
$palette-5: $x-color-grey-2;
$palette-6: $x-color-white;
$palette-7: $x-color-black-2;
$palette-8: $x-color-black-3;
$palette-9: $x-color-grey-3;
$palette-10: $x-color-grey-4;
$palette-11: $x-color-grey-5;
